@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;6007;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'poppins',sans-serif;}
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background:url(abstract-plexus-blue-geometrical-shapes-connection-ai-generated-image_511042-596.avif)no-repeat ;
    
    background-size: cover;
    background-position: center;
    
    
    
    
    }



        .enas{ 
            width: 750px;
            background:rgb(255, 255,255 ,.1);
            border: 2px solid rgb(255, 255,255 .2);
            box-shadow: 0 0 10px rgb(0,0,0,.2);
            backdrop-filter: blur(50px);
            border-radius: 10px;
            color: #fff;
            padding: 40px 35px 55px;
            margin: 0 10px;
        }






        .enas h1{
            font-size: 36px;
            text-align: center;
            margin-bottom: 20px;
            padding: 40px 35px 55px;

        }

 .enas .input-box{
    display:flex ;
    justify-content: space-between;
    flex-wrap:wrap;
    
    
}


.input-box .input-field{
position: relative;
width: 48%;
height: 50px;
/* background: salmon; */
margin: 13px 0;
}
 

.input-box .input-field input{ 

width: 100%;
height: 100%;
background: transparent;
border: 2px solid rgb(255, 255, 255,.2);
outline: none;
font-size: 16px;
color: #fff;
border-radius: 6px;
padding: 15px 15px 15px 40px;
} 

 
 .input-box .input-field input::placeholder{
color: #fff;
 } 


.input-box .input-field i{ 
    position: absolute;
    left: 15px;
    transform: translateY(-50%);
    top: 50%;
    font-size: 20px;
} 
.enas label {
    display: inline-block;
font-size: 14.5px;
margin: 10px 0 23px;

}
.enas label input{

accent-color: #fff;
margin-right: 5px;



}

.enas .btn{
    width: 100%;
    height: 45px;
background: #fff;
border: none;
outline: none;
border-radius: 6px;
box-shadow: 0 0 10px rgb(0, 0, 0, 1);
cursor: pointer;
font-size: 16px;
color: #333;
font-weight: 600;


}
@media(max-width: 576px){
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
}






















